USE [master]
GO
/****** Object:  Database [Manager_Users]    Script Date: 5/25/2022 11:03:27 PM ******/
CREATE DATABASE [Manager_Users]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Manager_Users', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Manager_Users.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Manager_Users_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Manager_Users_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Manager_Users].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Manager_Users]
GO
/****** Object:  Table [dbo].[promotion]    Script Date: 5/25/2022 11:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[promotion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotion_history]    Script Date: 5/25/2022 11:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotion_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[status] [nvarchar](512) NULL,
	[date_update] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_user]    Script Date: 5/25/2022 11:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name_role] [nvarchar](256) NOT NULL,
	[decription] [nvarchar](512) NULL,
 CONSTRAINT [PK_role_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/25/2022 11:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](256) NOT NULL,
	[username] [nvarchar](256) NOT NULL,
	[password] [nvarchar](256) NOT NULL,
	[image] [nvarchar](256) NULL,
	[email] [nvarchar](256) NULL,
	[phone] [nvarchar](12) NULL,
	[role_id] [int] NOT NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[promotion] ON 

INSERT [dbo].[promotion] ([id], [userID], [promotion]) VALUES (1, 9, 4)
INSERT [dbo].[promotion] ([id], [userID], [promotion]) VALUES (8, 1007, 10)
INSERT [dbo].[promotion] ([id], [userID], [promotion]) VALUES (13, 1008, 5)
SET IDENTITY_INSERT [dbo].[promotion] OFF
GO
SET IDENTITY_INSERT [dbo].[promotion_history] ON 

INSERT [dbo].[promotion_history] ([id], [userId], [status], [date_update]) VALUES (1, 1, N'null added  to the list', 1653292497413)
INSERT [dbo].[promotion_history] ([id], [userId], [status], [date_update]) VALUES (2, 1, N'admin added xyz to the list', 1653293805810)
INSERT [dbo].[promotion_history] ([id], [userId], [status], [date_update]) VALUES (3, 1, N'admin changed abc''s promotion to the list', 1653294989681)
SET IDENTITY_INSERT [dbo].[promotion_history] OFF
GO
SET IDENTITY_INSERT [dbo].[role_user] ON 

INSERT [dbo].[role_user] ([id], [name_role], [decription]) VALUES (1, N'admin', NULL)
INSERT [dbo].[role_user] ([id], [name_role], [decription]) VALUES (2, N'Phòng Nhân Sự', NULL)
INSERT [dbo].[role_user] ([id], [name_role], [decription]) VALUES (1006, N'Phòng Kinh Doanh', N'')
SET IDENTITY_INSERT [dbo].[role_user] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [fullname], [username], [password], [image], [email], [phone], [role_id], [status]) VALUES (1, N'admin', N'admin', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', NULL, NULL, NULL, 1, 1)
INSERT [dbo].[users] ([id], [fullname], [username], [password], [image], [email], [phone], [role_id], [status]) VALUES (7, N'abc', N'abc', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', NULL, NULL, NULL, 2, 1)
INSERT [dbo].[users] ([id], [fullname], [username], [password], [image], [email], [phone], [role_id], [status]) VALUES (8, N'alo', N'alo', N'alo', N'alo', N'alo', N'alo', 1, 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[promotion]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[promotion_history]  WITH CHECK ADD  CONSTRAINT [FK_promotion_history] FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[promotion_history] CHECK CONSTRAINT [FK_promotion_history]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [fk_id_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[role_user] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [fk_id_role]
GO
USE [master]
GO
